.viewbtn{
    min-width: 4.4rem;
    max-height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 5px;
    border-radius: 8px;
    background-color: #343434;
    color: white;
    border: none;
    cursor: pointer;
}
.viewbtn:hover {
    background-color: #000000;
}