.editbtn{
   min-width: 25%;
    max-height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 5px;
    border-radius: 8px;
    background-color: #ffc953;
    color: white;
    border: none;
    cursor: pointer;
}
.editbtn:hover {
    background-color: #ffd900; /* Darker green on hover */
    /* color: black; */
}